name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Admin Web Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ppanel-web:latest
          cache-from: type=gha
          cache-to: type=inline

      - name: Build and push User Web Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/user/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ppanel-user-web:latest
          cache-from: type=gha
          cache-to: type=inline
